extends layout

block content
  div.row-fluid
    div.span4
      img(src='/images/byulein.jpg', style='width: auto; height: auto')
    div.span8.about
      div.about_head Park In Cheon 
      div.about_summary Windows, Web Developer

      div.about_bio.
        <h3>Contact</h3>
        EMAIL : byule (at) byule.com<br>
        Twitter : <a href='http://twitter.com/byulein' target='_blank'>@byulein</a> <br>
        Facebook : <a href='http://www.facebook.com/byulein' target='_blank'>/byulein</a>
    
      div.about_bio.
        <h3>Sign...</h3>
        - Javascript, Java, .Net, php, asp, oracle, mssql, mysql<br>
        - node.js, Backbone.js, angular.js, MongoDB<br>
        - iPhone4, Macbook air 2012, iPad, Canon EOS 450D
 
  div.row-fluid
    div.span4.blog
      div.blog_head Blog
      ul.blog_body

    div.span8.about
      div.about_head Site
      div.about_bio.
        <ul>
          <li><a href='http://byulein.com' target='_blank'>Byulein.com - 개인 프로필</a></li>
          <li><a href='http://sayjs.com' target='_blank'>SayJS.com - 블로그</a></li>
          <li><a href='http://nginx.co.kr' target='_blank'>Nginx.co.kr - NginX</a></li>
        </ul>
        


  script(src='/script/about.js')
