doctype 5
html(lang='kr')
  head
    meta(charset='utf-8')
    title InCheon Park (Byulein) 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    link(href='/assets/css/bootstrap.css',rel='stylesheet')
    link(href='/assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/assets/css/docs.css', rel='stylesheet')
    link(href='/assets/js/google-code-prettify/prettify.css', rel='stylesheet')

    link(rel='shortcut icon', href='')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/assets/ico/apple-touch-icon-57-precomposed.png')

    link(href='/stylesheets/style.css',rel='stylesheet')
    
    script(src='/assets/js/jquery.js')
    script(src='/script/util.js')

  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='./index.html') Byulein
          div.nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') About Me
              li
                a(href='http://sayjs.com',target='_blank') Blog
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown',href='#') Link
                  b.caret
                ul.dropdown-menu
                  li 
                    a(href='http://github.com/byulein',target='_blank') github/byulein
                  li
                    a(href='http://twitter.com/byulein',target='_blank') twitter/byulein

    div.container
      block content

    script(type='text/javascript', src='http://platform.twitter.com/widgets.js')    
    script(src='/assets/js/google-code-prettify/prettify.js')
    script(src='/assets/js/bootstrap-transition.js')
    script(src='/assets/js/bootstrap-alert.js')
    script(src='/assets/js/bootstrap-modal.js')
    script(src='/assets/js/bootstrap-dropdown.js')
    script(src='/assets/js/bootstrap-scrollspy.js')
    script(src='/assets/js/bootstrap-tab.js')
    script(src='/assets/js/bootstrap-tooltip.js')
    script(src='/assets/js/bootstrap-popover.js')
    script(src='/assets/js/bootstrap-button.js')
    script(src='/assets/js/bootstrap-collapse.js')
    script(src='/assets/js/bootstrap-carousel.js')
    script(src='/assets/js/bootstrap-typeahead.js')
    script(src='/assets/js/bootstrap-affix.js')
    script(src='/assets/js/application.js')
