extends layout
block content
  style
    div.twitter{color:#fff;}
    div.twitter a{color:#fff !important}
    div.twitter .twitter_head{margin-top:15px;font-size:25px;color:#fff081;font-weight:bold;}
    div.twitter ul.twitter_body{padding:0px;margin:0px;font-size:15px;background-color:#000}
    div.twitter ul.twitter_body li.on{}
    div.twitter ul.twitter_body li{list-style:none;margin-bottom:3px;padding:8px 8px 8px 0px;min-height:30px}
    div.twitter ul.twitter_body li .name{float:left;margin-right:15px;}
    div.twitter ul.twitter_body li .created_at{}

  div.row-fluid
  div.span12.twitter
    div.twitter_head Twitter
      ul.twitter_body